@model VtpGameApi.Models.ViewModel.ArticleVM

@{
	ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Article</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(m => m.ArticleType)
		@Html.HiddenFor(m => m.ControllerName)
		@Html.HiddenFor(m => m.Count)
		<div class="form-group">
			@Html.LabelFor(model => model.Article.Uri, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Article.Uri, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Article.Uri, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Article.ImageUri, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Article.ImageUri, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Article.ImageUri, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Article.Header, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Article.Header, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Article.Header, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Article.Body, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Article.Body, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Article.Body, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
