@model VtpGameApi.Models.ViewModel.ArticleVM

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Article</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Article.Uri)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Article.Uri)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Article.ImageUri)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Article.ImageUri)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Article.Header)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Article.Header)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Article.Body)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Article.Body)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.Article.ArticleId)
		@Html.HiddenFor(model => model.Article.Body)
		@Html.HiddenFor(model => model.Article.Header)
		@Html.HiddenFor(model => model.Article.ImageUri)
		@Html.HiddenFor(model => model.Article.Uri)
		@Html.HiddenFor(m => m.ArticleType)
		@Html.HiddenFor(m => m.ActionName)
		@Html.HiddenFor(m => m.Count)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index", new { articleType = ArticleType.Custom, count = 10 })
		</div>
	}
</div>
