@model  VtpGameApi.Models.ViewModel.PromoPreviewVM

@{
	ViewBag.Title = "Index";

	string smallCol = Model.ArticleType == ArticleType.Custom ? "col-md-5" : "col-md-6";
	string bigCol = Model.ArticleType == ArticleType.Custom ? "col-md-10" : "col-md-12";
}

<div class="container">
	@if (Model.Articles?.Any() ?? false)
	{
		foreach (var article in Model.Articles)
		{
			<div class="col-md-8 article">
				@if (!string.IsNullOrEmpty(article.ImageUri))
				{
					<div class="@smallCol">
						<img src="@article.ImageUri" />
					</div>
				}
				<div class="@(string.IsNullOrEmpty(article.ImageUri) ? bigCol : smallCol)">
					@if (!string.IsNullOrEmpty(article.Header))
					{
						<div>
							<a href="@article.Uri">@article.Header</a>
						</div>
					}
					@if (!string.IsNullOrEmpty(article.Body))
					{
						<div>@article.Body</div>
					}
				</div>
				@if (Model.ArticleType == ArticleType.Custom)
				{
					<div class="col-md-2">
						@Html.ActionLink("Edit", "Edit", "Article", new { id = article.ArticleId, controllerName = "PromoList", articleType = (int)ArticleType.Custom, count = Model.Count }, null)
						@Html.ActionLink("Delete", "Delete", "Article", new { id = article.ArticleId, controllerName = "PromoList", articleType = (int)ArticleType.Custom, count = Model.Count }, null)
					</div>
				}
			</div>
		}
	}
	else
	{
		<p>There is not enough data</p>
	}
	@if (Model.ArticleType == ArticleType.Custom)
	{
		<div class="col-md-offset-1 col-md-11">
			@Html.ActionLink("Add Article", "Add", "Article", new { controllerName = "PromoList", articleType = (int)ArticleType.Custom, count = Model.Count }, new { @class = "btn btn-default" })
		</div>
	}
</div>