@model  VtpGameApi.Models.ViewModel.PromoPreviewVM

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Articles?.Any() ?? false)
{
	<div class="container">
		@if (Model.ArticleType == ArticleType.BigPromo)
		{
			foreach (var article in Model.Articles)
			{
				<img src="@article.ImageUri" />
			}
		}
		else
		{
			foreach (var article in Model.Articles)
			{
				<div class="col-md-7 article">
					@if (!string.IsNullOrEmpty(article.ImageUri))
					{
						<div class="col-md-6">
							<img src="@article.ImageUri" />
						</div>
					}
					<div class="@(!string.IsNullOrEmpty(article.ImageUri)?"col-md-6":"col-md-12")">
						@if (!string.IsNullOrEmpty(article.Header))
						{
							<div>
								<a href="@article.Uri">@article.Header</a>
							</div>
						}
						@if (!string.IsNullOrEmpty(article.Body))
						{
							<div>@article.Body</div>
						}
					</div>
				</div>
			}
		}
	</div>
}